<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clover.salad.customer.query.mapper.CustomerMapper">

    <resultMap id="CustomerResultMap" type="com.clover.salad.customer.query.dto.CustomerQueryDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="birthdate" column="birthdate"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="registerAt" column="register_at"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="type" column="type"/>
        <result property="etc" column="etc"/>
    </resultMap>

    <select id="findCustomerById" resultMap="CustomerResultMap">
        SELECT * FROM customer WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="CustomerResultMap">
        SELECT * FROM customer
    </select>

    <select id="findAllActive" resultMap="CustomerResultMap">
        SELECT * FROM customer WHERE is_deleted = false
    </select>

</mapper>