<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clover.salad.employee.query.mapper.EmployeeMapper">
    <resultMap id="SearchEmployeeResultMap" type="com.clover.salad.employee.query.dto.EmployeeQueryDTO">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="level" column="level"/>
        <result property="hireDate" column="hire_date"/>
        <result property="workPlace" column="work_place"/>
        <result property="profileId" column="profile"/>
        <association property="department" javaType="com.clover.salad.employee.query.dto.DepartmentQueryDTO">
            <id property="id" column="dept_id"/>
            <result property="name" column="dept_name"/>
            <result property="supDeptId" column="sup_dept_id"/>
        </association>
    </resultMap>
    <resultMap id="MyPageResultMap" type="com.clover.salad.employee.query.dto.EmployeeMypageQueryDTO">
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="level" column="level"/>
        <result property="hireDate" column="hire_date"/>
        <result property="workPlace" column="work_place"/>
        <result property="profilePath" column="profile_path"/>
        <result property="departmentName" column="department_name"/>
    </resultMap>
    <resultMap id="EmployeeDetailResultMap" type="com.clover.salad.employee.query.dto.EmployeeDetailDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="code" column="code"/>
        <result property="hireDate" column="hire_date"/>
        <result property="workPlace" column="work_place"/>
        <result property="departmentId" column="department_id"/>
        <result property="departmentName" column="departmentName"/>
        <result property="profilePath" column="profilePath"/>
    </resultMap>

    <!-- 사원 조건 검색 -->
    <select id="searchEmployees"
            parameterType="com.clover.salad.employee.query.dto.EmployeeSearchRequestDTO"
            resultType="com.clover.salad.employee.query.dto.EmployeeSearchResponseDTO">
        SELECT
               e.id
             , e.code
             , e.name
             , e.phone
             , e.email
             , e.level
             , DATE_FORMAT(e.hire_date, '%Y-%m-%d') AS hireDate
             , e.work_place
             , e.department_id AS departmentId
             , d.name AS departmentName
          FROM employee e
          JOIN department d ON e.department_id = d.id
         WHERE e.is_deleted = FALSE
        <if test="code != null and code != ''">
            AND e.code LIKE CONCAT('%', #{code}, '%')
        </if>
        <if test="name != null and name != ''">
            AND e.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="phone != null and phone != ''">
            AND e.phone LIKE CONCAT('%', #{phone}, '%')
        </if>
        <if test="email != null and email != ''">
            AND e.email LIKE CONCAT('%', #{email}, '%')
        </if>
        <if test="level != null and level != ''">
            AND e.level = #{level}
        </if>
        <if test="hireDateFrom != null">
            AND e.hire_date &gt; #{hireDateFrom}
        </if>
        <if test="hireDateTo != null">
            AND e.hire_date &lt; #{hireDateTo}
        </if>
        <if test="workPlace != null and workPlace != ''">
            AND e.work_place LIKE CONCAT('%', #{workPlace}, '%')
        </if>
        <if test="departmentName != null and departmentName != ''">
            AND d.name LIKE CONCAT('%', #{departmentName}, '%')
        </if>
         ORDER BY e.hire_date DESC
    </select>
    <select id="selectIdByCodeAndEmail" resultType="int">
        SELECT
               id
          FROM employee
         WHERE code = #{code}
           AND email = #{email}
           AND is_deleted = false
    </select>
    <select id="findLoginHeaderInfoById" resultType="com.clover.salad.employee.query.dto.LoginHeaderInfoDTO">
        SELECT
               e.id AS id
             , e.name
             , e.level
             , d.name AS departmentName
             , f.path AS profilePath
          FROM employee e
          JOIN department d ON e.department_id = d.id
          LEFT JOIN file_upload f ON e.profile = f.id
         WHERE e.id = #{id}
    </select>
    <select id="selectIsAdminById" resultType="boolean">
        SELECT is_admin
          FROM employee
         WHERE id = #{id}
    </select>
    <select id="selectMyPageInfoById"
            parameterType="int"
            resultMap="MyPageResultMap">
        SELECT
               e.code
             , e.name
             , e.phone
             , e.email
             , e.level
             , e.hire_date
             , e.work_place
             , d.name AS department_name
             , f.path AS profile_path
          FROM employee e
          JOIN department d ON e.department_id = d.id
          LEFT JOIN file_upload f ON e.profile = f.id
         WHERE e.id = #{id}
           AND e.is_deleted = false
    </select>
    <select id="findNameById" parameterType="int" resultType="string">
        SELECT name
          FROM employee
         WHERE id = #{id}
           AND is_deleted = false
    </select>

    <!--  사원의 경우 나의 팀장 찾기 위한 로직  -->
    <select id="findDepartmentIdByEmployeeId" parameterType="int" resultType="int">
        SELECT department_id
          FROM employee
         WHERE id = #{employeeId}
           AND is_deleted = false
    </select>
    <select id="findManagerIdByDeptId" parameterType="int" resultType="int">
        SELECT id
          FROM employee
         WHERE department_id = #{deptId}
           AND level = '팀장'
           AND is_deleted = false
         LIMIT 1
    </select>
    <select id="findEmployeeById" parameterType="int" resultMap="SearchEmployeeResultMap">
        SELECT
               e.id
             , e.code
             , e.name
             , e.phone
             , e.email
             , e.level
             , e.hire_date
             , e.work_place
             , e.profile
             , d.id AS dept_id
             , d.name AS dept_name
             , d.sup_dept_id
          FROM employee e
          JOIN department d ON e.department_id = d.id
         WHERE e.id = #{id}
           AND e.is_deleted = false
    </select>

    <!--  부서별 사원 조회  -->
    <select id="searchEmployeesByDeptIds"
            parameterType="list"
            resultType="com.clover.salad.employee.query.dto.DepartmentEmployeeSearchResponseDTO">
        SELECT
               e.id
             , e.name
             , e.level
             , e.phone
             , e.email
             , d.name AS departmentName
             , f.path AS path
          FROM employee e
          JOIN department d ON e.department_id = d.id
          LEFT JOIN file_upload f ON e.profile = f.id
         WHERE e.department_id IN
        <foreach item="id" collection="deptIds" open="(" separator="," close=")">
            #{id}
        </foreach>
           AND e.is_deleted = FALSE
    </select>

    <!--  사원 상세 조회  -->
    <select id="findEmployeeDetailById"
            parameterType="int"
            resultMap="EmployeeDetailResultMap">
        SELECT
               e.id
             , e.name
             , e.level
             , e.phone
             , e.email
             , e.code
             , e.hire_date
             , e.work_place
             , e.department_id
             , d.name AS departmentName
             , f.path AS profilePath
          FROM employee e
          JOIN department d ON e.department_id = d.id
          LEFT JOIN file_upload f ON e.profile = f.id
         WHERE e.id = #{id}
           AND e.is_deleted = FALSE
    </select>

    <!--  관리자 전체 검색  -->
    <select id="findAdminIds" resultType="int">
        SELECT
               id
          FROM employee
         WHERE is_deleted = FALSE
           AND is_admin = TRUE
    </select>

    <!--  프로필 업로드  -->
    <update id="updateProfileById">
        UPDATE
               EMPLOYEE
           SET profile = #{fileId}
         WHERE id = #{employeeId}
           AND is_deleted = false
    </update>
</mapper>
