<select id="selectSalesByCondition"
        parameterType="com.clover.salad.sales.query.dto.SalesQueryRequestDTO"
        resultMap="SalesQueryResultMap">
    SELECT
           id
         , sales_date
         , department
         , amount
         , employee_name
         , contract_id
      FROM sales
     WHERE is_deleted = false

    <if test="startDate != null and startDate != ''">
        AND sales_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate != ''">
        AND sales_date &lt;= #{endDate}
    </if>

    <if test="minAmount != null">
        AND amount &gt;= #{minAmount}
    </if>
    <if test="maxAmount != null">
        AND amount &lt;= #{maxAmount}
    </if>

    <if test="department != null and department != ''">
        AND department LIKE CONCAT('%', #{department}, '%')
    </if>
    <if test="employeeName != null and employeeName != ''">
        AND employee_name LIKE CONCAT('%', #{employeeName}, '%')
    </if>
    <if test="contractId != null">
        AND contract_id = #{contractId}
    </if>
     ORDER BY sales_date DESC
</select>