<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clover.salad.approval.query.mapper.ApprovalMapper">

    <!--  결재 내역 목록  -->
    <resultMap id="ApprovalSearchResultMap" type="com.clover.salad.approval.query.dto.ApprovalSearchResponseDTO">
        <id property="id" column="id" />
        <result property="code" column="code" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="reqDate" column="reqDate" />
        <result property="aprvDate" column="aprvDate" />
        <result property="state" column="state" />
        <result property="comment" column="comment" />
        <result property="reqName" column="reqName" />
        <result property="aprvName" column="aprvName" />
        <result property="contractCode" column="contractCode" />
    </resultMap>

    <!--  결재 상세 정보  -->
    <resultMap id="ApprovalDetailResultMap" type="com.clover.salad.approval.query.dto.ApprovalDetailDTO">
        <id property="id" column="id" />
        <result property="code" column="code" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="reqDate" column="reqDate" />
        <result property="aprvDate" column="aprvDate" />
        <result property="state" column="state" />
        <result property="comment" column="comment" />
        <result property="reqName" column="reqName" />
        <result property="aprvName" column="aprvName" />
        <result property="contractCode" column="contractCode" />
        <result property="reqId" column="reqId"/>
        <result property="aprvId" column="aprvId"/>
    </resultMap>

    <!-- 관리자 검색 -->
    <select id="searchApprovals"
            parameterType="com.clover.salad.approval.query.dto.ApprovalSearchRequestDTO"
            resultMap="ApprovalSearchResultMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.content
             , a.req_date AS reqDate
             , a.aprv_date AS aprvDate
             , a.state
             , a.comment
             , req.name AS reqName
             , aprv.name AS aprvName
             , c.code AS contractCode
          FROM approval a
          LEFT JOIN employee req ON a.req_id = req.id
          LEFT JOIN employee aprv ON a.aprv_id = aprv.id
          LEFT JOIN contract c ON a.contract_id = c.id
        <where>
            <if test="code != null and code != ''">
                AND a.code LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="title != null and title != ''">
                AND a.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="content != null and content != ''">
                AND a.content LIKE CONCAT('%', #{content}, '%')
            </if>
            <if test="reqDateFrom != null and reqDateFrom != ''">
                AND a.req_date &gt;= STR_TO_DATE(#{reqDateFrom}, '%Y-%m-%d')
            </if>
            <if test="reqDateTo != null and reqDateTo != ''">
                AND a.req_date &lt;= STR_TO_DATE(#{reqDateTo}, '%Y-%m-%d')
            </if>
            <if test="aprvDateFrom != null and aprvDateFrom != ''">
                AND a.aprv_date &gt;= STR_TO_DATE(#{aprvDateFrom}, '%Y-%m-%d')
            </if>
            <if test="aprvDateTo != null and aprvDateTo != ''">
                AND a.aprv_date &lt;= STR_TO_DATE(#{aprvDateTo}, '%Y-%m-%d')
            </if>
            <if test="state != null and state != ''">
                AND a.state = #{state}
            </if>
            <if test="comment != null and comment != ''">
                AND a.comment LIKE CONCAT('%', #{comment}, '%')
            </if>
            <if test="reqName != null and reqName != ''">
                AND req.name LIKE CONCAT('%', #{reqName}, '%')
            </if>
            <if test="aprvName != null and aprvName != ''">
                AND aprv.name LIKE CONCAT('%', #{aprvName}, '%')
            </if>
            <if test="contractCode != null and contractCode != ''">
                AND c.code LIKE CONCAT('%', #{contractCode}, '%')
            </if>
        </where>
         ORDER BY a.code DESC
    </select>

    <!-- 2. 사원: 본인이 요청한 결재만, aprvName 검색 가능 -->
    <select id="searchByRequester"
            parameterType="com.clover.salad.approval.query.dto.ApprovalSearchRequestDTO"
            resultMap="ApprovalSearchResultMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.content
             , a.req_date AS reqDate
             , a.aprv_date AS aprvDate
             , a.state
             , a.comment
             , req.name AS reqName
             , aprv.name AS aprvName
             , c.code AS contractCode
          FROM approval a
          LEFT JOIN employee req ON a.req_id = req.id
          LEFT JOIN employee aprv ON a.aprv_id = aprv.id
          LEFT JOIN contract c ON a.contract_id = c.id
        <where>
            <if test="reqId != null">
                AND req.id = #{reqId}
            </if>
            <if test="code != null and code != ''">
                AND a.code LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="title != null and title != ''">
                AND a.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="content != null and content != ''">
                AND a.content LIKE CONCAT('%', #{content}, '%')
            </if>
            <if test="reqDateFrom != null and reqDateFrom != ''">
                AND a.req_date &gt;= STR_TO_DATE(#{reqDateFrom}, '%Y-%m-%d')
            </if>
            <if test="reqDateTo != null and reqDateTo != ''">
                AND a.req_date &lt;= STR_TO_DATE(#{reqDateTo}, '%Y-%m-%d')
            </if>
            <if test="aprvDateFrom != null and aprvDateFrom != ''">
                AND a.aprv_date &gt;= STR_TO_DATE(#{aprvDateFrom}, '%Y-%m-%d')
            </if>
            <if test="aprvDateTo != null and aprvDateTo != ''">
                AND a.aprv_date &lt;= STR_TO_DATE(#{aprvDateTo}, '%Y-%m-%d')
            </if>
            <if test="state != null and state != ''">
                AND a.state = #{state}
            </if>
            <if test="comment != null and comment != ''">
                AND a.comment LIKE CONCAT('%', #{comment}, '%')
            </if>
            <if test="aprvName != null and aprvName != ''">
                AND aprv.name LIKE CONCAT('%', #{aprvName}, '%')
            </if>
            <if test="contractCode != null and contractCode != ''">
                AND c.code LIKE CONCAT('%', #{contractCode}, '%')
            </if>
        </where>
         ORDER BY a.code DESC
    </select>

    <!-- 3. 팀장: 본인이 승인한 결재만, reqName 검색 가능 -->
    <select id="searchByApprover"
            parameterType="com.clover.salad.approval.query.dto.ApprovalSearchRequestDTO"
            resultMap="ApprovalSearchResultMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.content
             , a.req_date AS reqDate
             , a.aprv_date AS aprvDate
             , a.state
             , a.comment
             , req.name AS reqName
             , aprv.name AS aprvName
             , c.code AS contractCode
          FROM approval a
          LEFT JOIN employee req ON a.req_id = req.id
          LEFT JOIN employee aprv ON a.aprv_id = aprv.id
          LEFT JOIN contract c ON a.contract_id = c.id
        <where>
            <if test="aprvId != null">
                AND aprv.id = #{aprvId}
            </if>
            <if test="code != null and code != ''">
                AND a.code LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="title != null and title != ''">
                AND a.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="content != null and content != ''">
                AND a.content LIKE CONCAT('%', #{content}, '%')
            </if>
            <if test="reqDateFrom != null and reqDateFrom != ''">
                AND a.req_date &gt;= STR_TO_DATE(#{reqDateFrom}, '%Y-%m-%d')
            </if>
            <if test="reqDateTo != null and reqDateTo != ''">
                AND a.req_date &lt;= STR_TO_DATE(#{reqDateTo}, '%Y-%m-%d')
            </if>
            <if test="aprvDateFrom != null and aprvDateFrom != ''">
                AND a.aprv_date &gt;= STR_TO_DATE(#{aprvDateFrom}, '%Y-%m-%d')
            </if>
            <if test="aprvDateTo != null and aprvDateTo != ''">
                AND a.aprv_date &lt;= STR_TO_DATE(#{aprvDateTo}, '%Y-%m-%d')
            </if>
            <if test="state != null and state != ''">
                AND a.state = #{state}
            </if>
            <if test="comment != null and comment != ''">
                AND a.comment LIKE CONCAT('%', #{comment}, '%')
            </if>
            <if test="reqName != null and reqName != ''">
                AND req.name LIKE CONCAT('%', #{reqName}, '%')
            </if>
            <if test="contractCode != null and contractCode != ''">
                AND c.code LIKE CONCAT('%', #{contractCode}, '%')
            </if>
        </where>
         ORDER BY a.code DESC
    </select>
    <select id="findApprovalDetailById" parameterType="int"
            resultType="com.clover.salad.approval.query.dto.ApprovalDetailDTO">
        SELECT
               a.id
             , a.code
             , a.title
             , a.content
             , a.req_date AS reqDate
             , a.aprv_date AS aprvDate
             , a.state
             , a.comment
             , req.name AS reqName
             , aprv.name AS aprvName
             , c.code AS contractCode
             , a.req_id AS reqId
             , a.aprv_id AS aprvId
        FROM approval a
          LEFT JOIN employee req ON a.req_id = req.id
          LEFT JOIN employee aprv ON a.aprv_id = aprv.id
          LEFT JOIN contract c ON a.contract_id = c.id
         WHERE a.id = #{id}
    </select>
</mapper>